/* ============== Hero Section ================= */

#hero-section .pitch {
    width: max-content;
    margin-top: 64px;
}

#hero-section .pitch-text {
    font-size: 84px;
    font-weight: 600;
}

#hero-section .pitch-text:nth-of-type(4) {
    margin-bottom: 44px;
}

#hero-section .pitch-text .highlight-text {
    color: var(--theme-color)
}

#hero-section .pitch .divider {
    width: 100%;
    border: 1px solid lightgray;
    max-width: 620px;
}

#hero-section .pitch .soft-pitch-text {
    max-width: 650px;
    margin-top: 32px;
    line-height: 150%;
}

#hero-section .hero-cta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
}

#hero-section .hero-cta button {
    height: 44px;
}

#hero-section .hero-cta button:nth-of-type(1) {
    margin-right: 24px;
    background: var(--theme-color);
}

#hero-section .hero-cta button:nth-of-type(1):hover {
    background: transparent;
    border-color: var(--theme-color);
    color: var(--theme-color);
}

#hero-section .hero-cta button:nth-of-type(2) {
    margin-right: 24px;
    background: transparent;
    border-color: var(--theme-color);
    color: var(--theme-color)
}

#hero-section .hero-cta button:nth-of-type(2):hover {
    background: var(--theme-color);
    color: var(--background-color);
}

#hero-section .hero-image {
    position: absolute;
    top: 170px;
    z-index: -1;
    right: -120px;
    width: 1000px;
    height: 500px;
}

#home #the-group .head .title {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: center;
}

#home #the-group .head .desc {
    text-align: center;
    margin-bottom: 32px;
}


/* ========== Group 1 ========= */

#home #group-1 {
    margin-bottom: 60px;
}

#home #group-1 .right-side {
    width: 60%;
}

#home #group-1 .left-side {
    width: 50%;
    height: 400px;
}

#home #group-1 .left-side img {
    height: 400px;
}

/* ========== Group 2 ========= */

#home #group-2 {
    margin-bottom: 120px;
}

#home #group-2 .left-side {
    width: 60%;
}

#home #group-2 .right-side {
    width: 50%;
    height: 400px;
}

#home #group-2 .right-side img {
    height: 400px;
}

/* ========== Clients ========= */
#home #client {
    margin-bottom: 120px;
}

#home #client .title {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: center;
}

#home #client .desc {
    text-align: center;
    margin-bottom: 32px;
}

#home #client .clients-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#home #client .clients-row .client-img {
    width: 240px;
    height: 120px;
    border-radius: 12px;
    margin: 16px;
    opacity: 0.8;
    cursor: pointer;
}

#home #client .clients-row .client-img:hover {
    opacity: 1;
}

/* ========== Services ========= */
#home #services .head .title {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: center;
}

#home #services .head .desc {
    text-align: center;
    margin-bottom: 32px;
}

#home #services #service-1 {
    margin-bottom: 60px;
}

#home #services #service-1 .right-side {
    width: 60%;
}

#home #services #service-1 .left-side {
    width: 50%;
    height: 400px;
}

#home #services #service-1 .left-side img {
    height: 400px;
}

/* ========== Service 2 ========= */

#home #services #service-2 {
    margin-bottom: 120px;
}

#home #services #service-2 .left-side {
    width: 60%;
}

#home #services #service-2 .right-side {
    width: 50%;
    height: 400px;
}

#home #services #service-2 .right-side img {
    height: 400px;
}
