#home .container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

/* ============== Hero Section ================= */

#hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-section .container {
    height: 100vh;
}

#hero-section .pitch {
    width: max-content;
    padding: 64px 0;
    z-index: 1;
}

#hero-section .pitch-text {
    font-size: 84px;
    font-weight: 600;
}

#hero-section .pitch-text:nth-of-type(4) {
    margin-bottom: 44px;
}

#hero-section .pitch-text .highlight-text {
    color: var(--theme-color)
}

#hero-section .pitch .divider {
    width: 100%;
    border: 1px solid lightgray;
    max-width: 620px;
}

#hero-section .pitch .soft-pitch-text {
    max-width: 650px;
    margin-top: 32px;
    line-height: 150%;
}

#hero-section .hero-cta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
}

#hero-section .hero-cta button {
    height: 44px;
}

#hero-section .hero-cta button:nth-of-type(1) {
    margin-right: 24px;
    background: var(--theme-color);
}

#hero-section .hero-cta button:nth-of-type(1):hover {
    background: transparent;
    border-color: var(--theme-color);
    color: var(--theme-color);
}

#hero-section .hero-cta button:nth-of-type(2) {
    margin-right: 24px;
    background: transparent;
    border-color: var(--theme-color);
    color: var(--theme-color)
}

#hero-section .hero-cta button:nth-of-type(2):hover {
    background: var(--theme-color);
    color: var(--background-color);
}

#hero-section .hero-image {
    position: absolute;
    top: 60px;
    z-index: -1;
    right: -70px;
}

#home #the-group .head .title {
    font-size: 38px;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 8px;
    text-align: center;
}

#home #the-group .head .desc {
    text-align: center;
    margin-bottom: 32px;
}


/* ========== Group 1 ========= */

#home #group-1 {
    margin-bottom: 60px;
}

#home #group-1 .main {
    margin-top: 32px;
}

#home #group-1 .right-side {
    width: 60%;
}

#home #group-1 .left-side {
    width: 50%;
    height: 400px;
}

#home #group-1 .left-side img {
    height: 400px;
}

/* ========== Group 2 ========= */

#home #group-2 {
    margin-bottom: 120px;
}

#home #group-2 .main {
    margin-top: 24px;
}

#home #group-2 .left-side {
    width: 60%;
}

#home #group-2 .right-side {
    width: 50%;
    height: 400px;
}

#home #group-2 .right-side img {
    height: 400px;
}

/* ========== Clients ========= */
#home #client {
    margin-bottom: 120px;
}

#home #client .title {
    font-size: 38px;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 8px;
    text-align: center;
}

#home #client .desc {
    text-align: center;
    margin-bottom: 32px;
}

#home #client .clients-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#home #client .clients-row .client-img {
    width: 240px;
    height: 120px;
    border-radius: 12px;
    margin: 16px;
    opacity: 1;
    cursor: pointer;
}

#home #client .clients-row .client-img:hover {
    opacity: 0.8;
}

/* ========== Services ========= */
#home #services .head .title {
    font-size: 38px;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 8px;
    text-align: center;
}

#home #services .head .desc {
    text-align: center;
    margin-bottom: 32px;
}

#home #services #service-1 {
    margin-bottom: 60px;
}


#home #services #service-1 .main {
    margin-top: 32px;
}

#home #services #service-1 .right-side {
    width: 60%;
}

#home #services #service-1 .left-side {
    width: 50%;
    height: 400px;
}

#home #services #service-1 .left-side img {
    height: 400px;
}

/* ========== Service 2 ========= */

#home #services #service-2 {
    margin-bottom: 120px;
}

#home #services #service-2 .main {
    margin-top: 24px;
}

#home #services #service-2 .left-side {
    width: 60%;
}

#home #services #service-2 .right-side {
    width: 50%;
    height: 400px;
}

#home #services #service-2 .right-side img {
    height: 400px;
}

/* ========== Service 3 ========= */

#home #services #service-3 {
    margin-bottom: 60px;
}


#home #services #service-3 .main {
    margin-top: 24px;
}

#home #services #service-3 .right-side {
    width: 60%;
}

#home #services #service-3 .left-side {
    width: 50%;
    height: 400px;
}

#home #services #service-3 .left-side img {
    height: 400px;
}

/* ========== Service 4 ========= */

#home #services #service-4 {
    margin-bottom: 120px;
}

#home #services #service-4 .main {
    margin-top: 24px;
}

#home #services #service-4 .left-side {
    width: 60%;
}

#home #services #service-4 .right-side {
    width: 50%;
    height: 400px;
}

#home #services #service-4 .right-side img {
    height: 400px;
}


/* ======= Footer =========== */
#home .contact-us {
    max-width: 1440px;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home .contact-us .content-side {
    flex: 0.4;
}

#home .contact-us .content-side .content-title {
    font-size: 32px;
    font-weight: bold;
    color: #2F2F2F;
    margin-bottom: 12px;
}

#home .contact-us .content-side p {
    margin-bottom: 8px;
}

#home .contact-us .cta-side {
    flex: 0.6;
    text-align: right;

}

#home .contact-us .cta-side img {
    border: 1px solid black;
}

