:root {
    --theme-color: #609bfb;
    --background-color: white;
    --primary-font-color: #2F2F2F;
    --header-height: 60px
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: var(--background-color);
    color: var(--primary-font-color);
    max-width: 100vw !important;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 24px;
    overflow: hidden;
    position: relative;
}

@media (max-width: 740px) {
    .container {
        padding: 0 16px;
    }
    .title {
        width: fit-content;
    }
}

button {
    border: 1px solid transparent;;
    background: var(--primary-font-color);
    color: var(--background-color);
    height: 32px;
    padding: 8px 20px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

button:hover {
    border: 1px solid var(--primary-font-color);
    background: transparent;
    color: var(--primary-font-color);
}

.primary-button {
    background: var(--theme-color);
    height: 44px;
}

.primary-button:hover {
    border: 1px solid var(--theme-color);
    background: transparent;
    color: var(--theme-color);
}


.page {
    /*padding-top: 32px;*/
    /*padding-bottom: 32px;*/
    min-height: calc(100vh - var(--header-height));
    position: relative;
}

/* ==========  Text gradients ============= */

.gradient-text {
    background: linear-gradient(63deg,#11adbd 0%,#0020d8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
}

.gradient-black-text {
    background: linear-gradient(63deg,#000 4%,#b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
}

/* ==========  Backgrounds ============= */
.bg-1 {
    background: whitesmoke;
}

.bg-2 {
    background: #b3b3b3;
}

.footer-bg {
    background: #1f1f1f;
}

/* ==========  Section ============= */
.section {
    padding: 60px 0;
}
.inner-section {
    margin-bottom: 32px;
}

@media (max-width: 740px) {
    .section {
        padding: 48px 0;
    }
    .inner-section {
        margin-bottom: 24px;
    }
}

@media (max-width: 360px) {
    .section {
        padding: 32px 0;
    }
    .inner-section {
        margin-bottom: 20px;
    }
}

/* ==========  Section Title and Desc ============= */

.head {
    text-align: center;
}

.head .title {
    font-weight: bold;
    font-size: 48px;
    margin: 0 auto;
}

.head .desc {
    text-align: center;
}


@media (max-width: 1040px) {
    .head .title {
        font-size: 32px !important;
    }
    .head .desc {
        font-size: 14px !important;
    }
}


@media (max-width: 740px) {
    .head .title {
        font-size: 32px !important;
    }
    .head .desc {
        font-size: 14px !important;
    }
}

@media (max-width: 460px) {
    .head .title {
        font-size: 28px !important;
    }
}

@media (max-width: 360px) {
    .head .title {
        font-size: 24px !important;
    }
}


/* ============== Header ================= */

header {
    height: var(--header-height);
    /*background: var(--background-color);*/
    z-index: 1;
    /*border-bottom: 1px solid lightgray;*/
    position: fixed;
    width: 100vw;
    top: 0;
    backdrop-filter: blur(10px);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header .brand-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    color: var(--primary-font-color);
}

.header img {
    height: 45px;
    margin-right: 10px;
}

.header .brand-logo span {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.1px;
}

.menu-ul {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.menu-ul .menu-li {
    color: var(--primary-font-color);
    margin: 0 6px;
    font-weight: 500;
    padding: 6px 6px;
    border-bottom: 2px solid transparent;
    transition: 0.5s ease-in-out;
}

.menu-ul .menu-li:hover {
    padding-bottom: 16px;
    border-color: var(--theme-color);
    color: var(--theme-color);
}

.header .get-intouch {
    display: flex;
    align-items: center;
}

.header .socials {
    margin-right: 12px;
    color: var(--primary-font-color);
    font-size: 18px;
}

.header .socials:hover {
    margin-right: 12px;
    color: var(--theme-color);
    font-size: 18px;
}

.content {
    margin-top: var(--header-height);
}

.hamburger-menu {
    padding: 8px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}

.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media (max-width: 740px) {
    .menu-ul {
        display: none;
    }
    .header .get-intouch {
        display: none;
    }
    .hamburger-menu {
        display: block;
        font-size: 24px;
    }
    .header .brand-logo span {
        font-size: 18px;
    }
    .header img {
        height: 40px;
    }
}

@media (max-width: 460px) {
    .header .brand-logo span {
        font-size: 16px;
    }
    .header img {
        height: 36px;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* ============ Footer ============= */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    color: white;
}
